@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Easy Housing Solutions<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    9837834567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:EasyHousingSupport@gmail.com">EasyHousingSupport@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:EasyHousingMarketing@gmail.com">EasyHousingMarketing@gmail.com</a>
</address>